<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @series.season %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @series.episode %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
