<tr>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <!--td> <%# line_item_path(line_item)+"?product_id=#{line_item.product.id}"%></td-->
  <td> <%= line_item_path(line_item) %></td>
  <td> <%= link_to "remove" %></td>
  <td> <%= link_to "decrease", line_item_path(line_item) , :method => :put %></td>

  <!-- $ not recognised issue so skipping this -->
  <!--td><button onclick="decreaseItem(<%# line_item.id %>)">Decrease</button></td-->

</tr>

